# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.env
.env.*
*.sqlite3
db.sqlite3

# Django
staticfiles/
media/

# Docker
.docker/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# AWS / secrets
*.pem
*.key
*.crt
.aws/
credentials

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log